body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Z-kladn--textový-r-meček {
	border-style:solid;
}
#_idContainer000 {
	-ms-transform:translate(544.652px,58.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(544.652px,58.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(544.652px,58.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(544.652px,58.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1137.76px;
}
#_idContainer001 {
	-ms-transform:translate(570.504px,179.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(570.504px,179.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(570.504px,179.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(570.504px,179.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1111.90px;
}
#_idContainer002 {
	-ms-transform:translate(677.756px,354.621px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(677.756px,354.621px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(677.756px,354.621px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(677.756px,354.621px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1004.65px;
}
#_idContainer003 {
	-ms-transform:translate(677.756px,467.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(677.756px,467.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(677.756px,467.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(677.756px,467.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1037.67px;
}
#_idContainer004 {
	-ms-transform:translate(677.756px,581.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(677.756px,581.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(677.756px,581.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(677.756px,581.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1004.65px;
}
#_idContainer005 {
	-ms-transform:translate(677.756px,703.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(677.756px,703.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:75.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(677.756px,703.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(677.756px,703.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1004.65px;
}
#_idContainer006 {
	-ms-transform:translate(169.726px,425.358px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(169.726px,425.358px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:269.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(169.726px,425.358px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(169.726px,425.358px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:295.16px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,13.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,13.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.41px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,13.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,13.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.79px;
}
#_idContainer008 {
	-ms-transform:translate(0.058px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.058px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.058px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.058px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.67px;
}
#_idContainer009 {
	-ms-transform:translate(611.364px,483.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(611.364px,483.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(611.364px,483.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(611.364px,483.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.79px;
}
#_idContainer010 {
	-ms-transform:translate(619.568px,707.472px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.568px,707.472px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.568px,707.472px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.568px,707.472px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.38px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,26.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,26.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,26.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,26.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:49.12px;
}
#_idContainer012 {
	-ms-transform:translate(22.158px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(22.158px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.158px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(22.158px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:49.25px;
}
#_idContainer013 {
	-ms-transform:translate(609.556px,582.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(609.556px,582.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(609.556px,582.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(609.556px,582.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:71.41px;
}
#_idContainer014 {
	-ms-transform:translate(609.560px,361.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(609.560px,361.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(609.560px,361.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(609.560px,361.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:71.40px;
}
#_idContainer015 {
	-ms-transform:translate(254.397px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(254.397px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(254.397px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(254.397px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:103.23px;
}
#_idContainer016 {
	-ms-transform:translate(99.535px,21.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.535px,21.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:412.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(99.535px,21.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(99.535px,21.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:412.35px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
